.header-container {
    display: flex;
}

.header-left {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.header-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 50%;     
}

.logo {
    margin-left: 30px;
}

.appHeader {
    background: white;
}

.header-filter {
    margin-left: 30px;
    display: flex;
}

